<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>题目搜索</title>
<link rel="stylesheet" type="text/css" href="css/search.css"/>
</head>
<body>
<div id="searchArea">
	<div class="searchHeader">
		<span>请选择题目类型:</span>
		<select autocomplete="off" id="QstyleCode" v-model="QStyleCode"><br>
			<option value="pd" selected="selected">判断</option>
			<option value="dx">单选</option>
			<option value="dd">多选</option>
		</select>
		<span>请输入搜索内容:</span>
		<input type="text" class="searchText" v-model="keyword"/><input type="button" value="搜索" class="searchBtn" @click="btnClick"/>

	</div>
	

	<div class="items" v-show="pdResult!=''" v-for="(item,index) in info">
		<div class="itemTopic"><span>{{item.topic}}</span></div>
		<div class="pd">
			<span>Y:对</span><br>
			<span>N:错</span>
		</div>
		<div class="correct">
			正确答案是 {{item.result}}
		</div>
	</div>
	
	<div class="items" v-show="dxResult!=''" v-for="(item,index) in info">
		<div class="itemTopic"><span>{{item.topic}}</span></div>
		<div class="multipleChoice">
			<span>A.{{JSON.parse(item.optionList)[0]}}</span><br>
			<span>B.{{JSON.parse(item.optionList)[1]}}</span><br>
			<span>C.{{JSON.parse(item.optionList)[2]}}</span><br>
			<span>D.{{JSON.parse(item.optionList)[3]}}</span>
		</div>
		<div class="correct">
			正确答案是 {{item.result}}
		</div>
	</div>
	
	<div class="items" v-show="ddResult!=''" v-for="(item,index) in info">
		<div class="itemTopic"><span>{{item.topic}}</span></div>
		<div class="multipleChoice">
			<span>A.{{JSON.parse(item.optionList)[0]}}</span><br>
			<span>B.{{JSON.parse(item.optionList)[0]}}</span><br>
			<span>C.{{JSON.parse(item.optionList)[0]}}</span><br>
			<span>D.{{JSON.parse(item.optionList)[0]}}</span>
		</div>
		<div class="correct">
			正确答案是 {{item.result}}
		</div>
	</div> 

</div>			
</body>
</html>